.rock, .paper, .scissors{
    border-width: 20px;
    border-style: solid;
    color: #303245;
    border-radius: 48%;
    background-color: whitesmoke;
    padding: 15px;
    
}
.rock{
    border-color: #dc2f55;
    padding-right: 20px;
    padding-left: 20px;
}
.paper{
    border-color: dodgerblue;
}
.scissors{
    border-color:sienna;
}