.root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
}
.play{
  background-color: #15172b;
  width: fit-content;
  max-width: 95vw;
}
.scoreSection{
  width: fit-content;
  padding: 2px 10px;
}
.rock, .paper, .scissors{
  border-width: 20px;
  border-style: solid;
  color: #303245;
  border-radius: 48%;
  background-color: whitesmoke;
  padding: 15px;
  cursor: pointer;
}
.alert{
  background-color: dodgerblue;
  width: fit-content;
  padding: 5px;
}
.modalContent{
  background-color:#15172b;
  margin-top: 40vh;
  width: fit-content;
  border-radius: 9px;
  padding: 12px;
}
.rulesContent{
  background-color:#15172b;
  margin-top: 40vh;
  width: fit-content;
  max-width: 80vw;
  border-radius: 9px;
  padding: 12px 3px;
}
.computerStatement{
  position: absolute;
  right: 8px;
}
.boxShadow{
  box-shadow: 2px 2px 40px whitesmoke;
}
.statement{
  gap: 20px;
  grid-template-columns: 2fr 2fr;
}
.rock{
  border-color: #dc2f55;
  padding-right: 20px;
  padding-left: 20px;
}
.alertClose{
  cursor:pointer;
}
.paper{
  border-color: dodgerblue;
}
.restartButtons{
  background-color: dodgerblue;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.scissors{
  border-color:sienna;
}
.scoreModal, .restartModal{
  background-color: #0b0c17;
  width: fit-content;
  max-width: 97vw;
  height:fit-content;
  border-radius: 9px;
  padding: 12px;
}
.scoreModal{
  margin-top: 30vh
}
.restartModal{
  margin-top: 35vh;
}
.modalOverlay{
  position:fixed;
  background-color: rgb(142, 133, 133);
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
}
.closeButton{
  color: #15172b;
  background-color: whitesmoke;
  border: 2px solid #dc2f55;
  border-radius: 9px;
  padding: 5px 20px;
  width: fit-content;
  cursor: pointer;
}
.rulesButton{
  display: flex;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 2px 9px;
  cursor: pointer;
}
.computerScore{
  border-top: 1px solid whitesmoke;
}
.restartButton{
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 2px 9px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}